* {
	font-family: "Courier New", Courier, monospace;
}
body {
	padding: 60px;
	font-size: 20px;
}
input {
	font-size: 1.2rem;
	padding: 15px;
	color: grey;
	border-radius: 10px;
	width: 100%;
	border-width: 0.2px;
}
.card {
	align-content: center;
	border: 1px solid gray;
	border-radius: 6px;
	margin-bottom: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.card p {
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: center;
}

.card img {
	max-height: 170px;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
